/* -------------------- Sass -------------------- */
.header-principal{
  padding: 0 var(--padding-thin);

  .flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .logo img{
    width: 50px;

    margin-right: var(--margin-large);
  }

  h2{
    display: flex;
    align-items: center;
  }

  .nav-principal{
    width: 100%;

    ul{
      display: flex;
      justify-content: space-between;

      padding: 0;
      list-style: none;

      li{
        margin-left: var(--margin-large);
      }
    }
  }
}



/* -------------------- Médias queries -------------------- */
@media screen and (min-width: $vw-medium){
  .header-principal{
    .flex{
      flex-direction: row;
    }

    .nav-principal{
      width: auto;
    }
  }
}