.hero{
  background: var(--color-bg-secondary);

  min-height: 723px;

  padding: var(--padding-large) var(--padding-thin) 0 var(--padding-thin);

  h1{
    font-family: var(--ff-titres);
    font-size: var(--fz-h1);
  }

  h4{
    font-family: var(--ff-titres);
    font-size: var(--fz-h4);
  }
}